{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="flex justify-center items-center flex-1 bg-timber-green-100">
    <div class="bg-white shadow-lg rounded-lg overflow-hidden w-96">

        <div class="p-6">
            <h1 class="text-2xl font-semibold text-center mb-4 text-timber-green-700">Bienvenido a Tierra Viva</h1>

        <form method="post" class="flex flex-col gap-3">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Sesion iniciada como {{ app.user.userIdentifier }}, <a class="font-bold underline" href="{{ path('app_logout') }}">Salir</a>
                </div>
            {% endif %}

            <label for="username">Email</label>
            <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
            <label for="password">Password</label>
            <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <div class="checkbox mb-3">
                <input type="checkbox" name="_remember_me" id="_remember_me">
                <label for="_remember_me">Remember me</label>
            </div>

            <button class="btn-gradient" type="submit">
                Iniciar sesion
            </button>
        </form>
        </div>
    </div>
</div>
{% endblock %}
