{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block body %}
<div class="flex flex-row gap-3 h-full">
    <div class="flex flex-col m-auto">
        {% for flash_error in app.flashes('verify_email_error') %}
        <div class="" role="alert">{{ flash_error }}</div>
        {% endfor %}
        {{ form_start(registrationForm) }}
        {{ form_errors(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
        label: 'Contraseña'
        }) }}
        {{ form_row(registrationForm.agreeTerms, {attr: {class: 'text-pb-600'}}) }}

        {% include 'components/button.html.twig' with { text: 'Registrarse', isPill: true } only %}
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
