{% extends 'base.html.twig' %}

{% macro icon_btn(icon, text) %}
<div class="flex flex-row p-4 font-label items-center gap-2">
    {% include 'icons/' ~ icon %}
    <span>{{ text }}</span>
</div>
{% endmacro %}

{% block body %}
<div class="flex flex-col items-center">
    <div class="flex flex-col relative h-3/4 overflow-hidden z-0 w-full h-full min-h-[500px]">
        <div class="absolute w-full h-full flex flex-col gap-5 items-center justify-center text-center">
            <img src="/imgs/pille-r-priske-nosotros.jpg" alt="slider image"
                class="-z-10 brightness-50 scale-110 animate-[smooth-scale_7s_linear_forwards] pointer-events-none object-cover absolute w-full h-full">
            <p class="font-label text-3xl text-pistachio-400 font-bold uppercase">HERRAMIENTAS Y MÉTODOS</p>
            <h1 class="font-display text-white text-5xl">Todo lo que necesitas para empezar en la agricultura urbana
            </h1>
        </div>
    </div>
    <div class="flex flex-row bg-gradient-to-b from-timber-green-900 to-lochinvar-600 gap-4 self-stretch">
        <div class="flex flex-row m-auto text-white">
            {{ _self.icon_btn('logo-youtube.svg.twig', 'Videos') }}
            {{ _self.icon_btn('document-text.svg.twig', 'Documentos') }}
            {{ _self.icon_btn('videocam.svg.twig', 'Videos') }}
            {{ _self.icon_btn('information-circle-1.svg.twig', 'Noticas') }}
        </div>
    </div>
    <div
        class="flex self-stretch flex-col py-6 relative before:top-0 before:left-0 items-center z-0 gap-3
    before:w-full before:h-full before:absolute before:bg-things-pattern before:bg-repeat before:opacity-30 before:bg-center before:-z-10">
        <h1 class="font-heading text-3xl text-pistachio-500 text-center py-2 px-5 bg-pistachio-50 rounded-3xl">BUSQUEDA
            POR CATEGORIAS</h1>
        <div class="flex flex-row justify-center gap-3">
            {% set icons = [
            ['information-circle-1.svg.twig', 'Noticas', '/recursos/noticas'],
            ['logo-youtube.svg.twig', 'Videos', '/recursos/videos'],
            ['document-text.svg.twig', 'Documentos', '/recursos/documentos'],
            ['book.svg.twig', 'Libros', '/recursos/libros'],
            ['videocam.svg.twig', 'Series y documentales', '/recursos/documentales'],
            ] %}
            {% for i in icons %}
            <a class="bg-kumera-500 text-white rounded-xl" href="{{ i[2] }}">
                {{ _self.icon_btn(i[0], i[1]) }}
            </a>
            {% endfor %}
        </div>
    </div>
    <section class="py-10 flex justify-center items-center">
  <div class="flex flex-wrap justify-center gap-5">
    <div class="bg-white shadow-lg rounded-3xl p-6 max-w-sm">
      <img class="rounded-lg w-full h-64 object-cover" src="imgs/videochica.png" alt="Video Chica" />
      <div class="mt-4">
        <div class="text-xl font-semibold text-left">Lorem ipsum dolor sit amet</div>
        <div class="text-base text-left text-gray-600">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. 
          Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus.
        </div>
      </div>
    </div>

    <div class="bg-white shadow-lg rounded-3xl p-6 max-w-sm">
      <img class="rounded-lg w-full h-64 object-cover" src="imgs/videochico.png" alt="Video Chico" />
      <div class="mt-4">
        <div class="text-xl font-semibold text-left">Lorem ipsum dolor sit amet</div>
        <div class="text-base text-left text-gray-600">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. 
          Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus.
        </div>
      </div>
    </div>

    <div class="bg-white shadow-lg rounded-3xl p-6 max-w-sm">
      <img class="rounded-lg w-full h-64 object-cover" src="imgs/videochica.png" alt="Video Chica" />
      <div class="mt-4">
        <div class="text-xl font-semibold text-left">Lorem ipsum dolor sit amet</div>
        <div class="text-base text-left text-gray-600">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. 
          Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus.
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white py-10">
    <div class="flex justify-center gap-6">
        <!-- Tarjeta 1 -->
        <div class="bg-gradient-to-b from-lochinvar-400 to-timber-green-900 p-6 rounded-lg flex flex-col items-center justify-center w-[300px] h-[300px]">
            <img src="imgs/semillas.png" class="w-20 h-20 mb-4" alt="Encuentra semillas">
            <p class="text-white text-lg text-center mb-4">Encuentra semillas en tu localidad</p>
            <button class="mt-4 bg-pistachio-600 text-white py-2 px-4 rounded-lg">Más información</button>
        </div>
        <!-- Tarjeta 2 -->
        <div class="bg-gradient-to-b from-lochinvar-400 to-timber-green-900 p-6 rounded-lg flex flex-col items-center justify-center w-[300px] h-[300px]">
            <img src="imgs/planting.png" class="w-20 h-20 mb-4" alt="Participa en un huerto comunitario">
            <p class="text-white text-lg text-center mb-4">Participa en un huerto comunitario</p>
            <button class="mt-4 bg-pistachio-600 text-white py-2 px-4 rounded-lg">Más información</button>
        </div>
    </div>
</section>
<section class="bg-white py-10">
    <h2 class="text-center text-buttercup-500 font-bold text-3xl mb-6">Noticias del día</h2>
    <div class="grid grid-cols-2 gap-4">
        <!-- Noticia 1 -->
        <div class="relative rounded-lg overflow-hidden max-h-[300px]">
            <img src="imgs/tortuga.jpg" alt="Noticia Tortuga" class="w-full h-full object-cover">
            <div class="absolute inset-0 bg-black bg-opacity-50 p-4 flex flex-col justify-end">
                <h3 class="text-white text-xl font-bold">Pueblo mágico costero tiene uno de los mayores refugios</h3>
                <button class="mt-2 bg-pistachio-600 text-white py-2 px-4 rounded-lg">Detalles en Hilo</button>
            </div>
        </div>
        <!-- Noticia 2 -->
        <div class="relative rounded-lg overflow-hidden max-h-[300px]">
            <img src="imgs/limpieza.jpeg" alt="Noticia Limpieza" class="w-full h-full object-cover">
            <div class="absolute inset-0 bg-black bg-opacity-50 p-4 flex flex-col justify-end">
                <h3 class="text-white text-xl font-bold">Realizan "limpieza a fondo" en más de 12 playas en Europa</h3>
                <button class="mt-2 bg-pistachio-600 text-white py-2 px-4 rounded-lg">Leer</button>
            </div>
        </div>
        <!-- Noticia 1 -->
        <div class="relative rounded-lg overflow-hidden max-h-[300px]">
            <img src="imgs/tortuga.jpg" alt="Noticia Tortuga" class="w-full h-full object-cover">
            <div class="absolute inset-0 bg-black bg-opacity-50 p-4 flex flex-col justify-end">
                <h3 class="text-white text-xl font-bold">Pueblo mágico costero tiene uno de los mayores refugios</h3>
                <button class="mt-2 bg-pistachio-600 text-white py-2 px-4 rounded-lg">Detalles en Hilo</button>
            </div>
        </div>
        <!-- Noticia 2 -->
        <div class="relative rounded-lg overflow-hidden max-h-[300px]">
            <img src="imgs/limpieza.jpeg" alt="Noticia Limpieza" class="w-full h-full object-cover">
            <div class="absolute inset-0 bg-black bg-opacity-50 p-4 flex flex-col justify-end">
                <h3 class="text-white text-xl font-bold">Realizan "limpieza a fondo" en más de 12 playas en Europa</h3>
                <button class="mt-2 bg-pistachio-600 text-white py-2 px-4 rounded-lg">Leer</button>
            </div>
        </div>
    </div>
</section>

    {% endblock %}
