{% extends 'base.html.twig' %}

{% block body %}
<div class="flex flex-col items-center py-10">
    <h2 class="text-3xl font-bold text-pistachio-500 mb-6">Crear una Discusión</h2>

    <div style="background-color: #e5e7eb; padding: 30px;" class="shadow-md rounded-lg max-w-lg w-full"> <!-- Cambié a max-w-lg para mantener un tamaño razonable -->
        {{ form_start(postForm) }}

            <!-- Título de la discusión -->
            <div class="mb-4">
            Titulo de la discusión
                {{ form_label(postForm.title, null, {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                {{ form_widget(postForm.title, {'attr': {'class': 'mt-1 block w-[400px] p-2 bg-white rounded-md'}}) }} <!-- Ancho de 600px y sin borde -->
                {{ form_errors(postForm.title) }}
            </div>

            <!-- Autor de la discusión -->
            <div class="mb-4">
            Autor de la discusión
                {{ form_label(postForm.author, null, {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                {{ form_widget(postForm.author, {'attr': {'class': 'mt-1 block w-[400px] p-2 bg-white rounded-md'}}) }} <!-- Ancho de 600px y sin borde -->
                {{ form_errors(postForm.author) }}
            </div>

            <!-- Cuerpo de la discusión -->
            <div class="mb-4">
                Dí algo
                {{ form_label(postForm.body, null, {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                {{ form_widget(postForm.body, {'attr': {'class': 'mt-1 block w-[400px] p-2 bg-white rounded-md'}}) }} <!-- Ancho de 600px y sin borde -->
                {{ form_errors(postForm.body) }}
            </div>

            <!-- Tema de la discusión -->
            <div class="mb-4">
                Categoria
                {{ form_label(postForm.topic, null, {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                {{ form_widget(postForm.topic, {'attr': {'class': 'mt-1 block w-[400px] p-2 bg-white rounded-md'}}) }} <!-- Ancho de 600px y sin borde -->
                {{ form_errors(postForm.topic) }}
            </div>

            <!-- Botón de enviar -->
            <div class="flex justify-center">
                <button type="submit" class="bg-timber-green-500 text-white p-3 rounded-md hover:bg-green-600 focus:ring-2 focus:ring-green-300 focus:outline-none">Difundir</button>
            </div>

        {{ form_end(postForm) }}
    </div>
</div>
{% endblock %}
