{% extends 'base.html.twig' %}
{% block body %}
<section class="bg-white py-10">
    <div class="container mx-auto">
        <h2 class="text-center text-buttercup-500 font-bold text-3xl">Crear una Discusión</h2>
        {{ form_start(postForm) }}

             <div class="mb-4">
                {{ form_label(postForm.title) }}
                {{ form_widget(postForm.title, {'attr': {'class': 'w-full p-2 border-b-2 border-pistachio-500 focus:outline-none'}}) }}
                {{ form_errors(postForm.title) }}
            </div>

            <div class="mb-4">
                {{ form_label(postForm.author) }}
                {{ form_widget(postForm.author, {'attr': {'class': 'w-full p-2 border-b-2 border-pistachio-500 focus:outline-none'}}) }}
                {{ form_errors(postForm.author) }}
            </div>

            <div class="mb-4">
                {{ form_label(postForm.body) }}
                {{ form_widget(postForm.body, {'attr': {'class': 'w-full p-2 border-b-2 border-pistachio-500 focus:outline-none'}}) }}
                {{ form_errors(postForm.body) }}
            </div>

            <div class="mb-4">
                {{ form_label(postForm.topic) }}
                {{ form_widget(postForm.topic, {'attr': {'class': 'w-full p-2 border-b-2 border-pistachio-500 focus:outline-none'}}) }}
                {{ form_errors(postForm.topic) }}
            </div>

            <div class="flex justify-center">
                <button type="submit" class="bg-gradient-to-r from-lochinvar-400 to-lochinvar-600 text-white px-6 py-2 rounded-full">Difundir</button>
            </div>

            {{ form_end(postForm) }}    </div>
</section>
{% endblock %}
