{% extends 'admin/base.html.twig' %}

{% macro nav_item(ref, text, is_active = false) %}
{% set current_path = app.request.get('_route') -%}
{% set is_active = current_path == ref %}
<a class="text-timber-green-600 py-2 px-6 block hover:bg-timber-green-50 hover:text-timber-green-900 border-transparent focus:outline-none focus:border-timber-green-500 {{ is_active? 'border-b-2' }}" href={{ path(ref) }}>{{ text }}</a>
{% endmacro -%}

{% block body %}
<div class="flex flex-col py-5 gap-3 m-8 items-align-center">
    <h1 class="font-heading text-6xl text-center text-buttercup-500">Foro</h1>

    <div class="flex flex-row border-b border-timber-green-500 items-center justify-center gap-8 mb-4">
        {{ _self.nav_item('admin_forum', 'Publicaciones') }}
        {{ _self.nav_item('admin_forum_comments', 'Comentarios') }}
    </div>

    <div class="flex flex-row justify-between items-center mb-5">
        <a href="{{ path('admin_forum_comments_new') }}">
            {% include 'components/button/default.html.twig' with { text: 'Comentar' } %}
        </a>
        <form class="flex items-center gap-2">
            <label for="filter-text" class="text-sm font-medium text-timber-green-700">Filtrar</label>
            <input type="text" id="filter-text" name="filter" placeholder="Filtro..." class="px-4 py-2 border border-timber-green-500 rounded-lg focus:ring-timber-green-500 focus:border-timber-green-600" />
            <button type="submit" class="ml-2">
                {% include 'components/button/default.html.twig' with { text: 'Buscar' } %}
            </button>
        </form>
    </div>

    <table class="bg-white rounded-lg shadow-lg overflow-hidden table-auto">
        <thead class="bg-pistachio-100 border-b border-lochinvar-100">
            <tr>
                <th class="px-6 py-4 text-left text-sm font-label text-center text-pancho-700">Post</th>
                <th class="px-6 py-4 text-left text-sm font-label text-center text-pancho-700">Autor</th>
                <th class="px-6 py-4 text-left text-sm font-label text-center text-pancho-700">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% if comments is empty %}
            <tr><td colspan="4" class="text-center text-timber-green-200 font-label text-4xl p-6">Sin elementos...</td></tr>
        {% endif %}
        {% for c in comments %}
        <tr class="text-center border-b border-lochinvar-100 hover:bg-buttercup-200">
            <td class="px-6 py-4 font-body text-sm text-black">{{ c.post.title }}</td>
            <td class="px-6 py-4 font-body text-sm text-black">{{ c.author.email }}</td>
            <td class="px-6 py-4 font-body text-sm text-black">
                <a target="_blank" href="{{ path('forum_post', {id: c.id}) }}">
                {% include 'components/button/default.html.twig' with { text: 'Ver' } %}
                </a>
                <a href="{{ path('admin_forum_comments_edit', {id: c.id}) }}">
                {% include 'components/button/default.html.twig' with { text: 'Editar' } %}
                </a>
                <a href="{{ path('admin_forum_comments_delete', {id: c.id}) }}">
                {% include 'components/button/danger.html.twig' with { text: 'Eliminar' } %}
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="flex justify-between items-center mt-4">
        {% include 'components/pager.html.twig' with {
            previous: page > 1? { path: path('admin_forum_comments', { page: page - 1 }) },
            current: page,
            pages: [
                { path: path('admin_forum_comments', {page: page}), name: 'comment_' ~ page, label: page }
            ],
            next: comments|length > 20? { path: path('admin_forum_comments', { page: page + 1 }) }
        } %}
    </div>
</div>
{% endblock %}
