{% extends 'admin/base.html.twig' %}

{% block body %}
<div class="flex flex-col py-5 gap-3 m-8 items-align-center">
    <h1 class="font-heading text-6xl text-center text-buttercup-500">Proveedores</h1>
    <div class="flex flex-row justify-between items-center mb-5">
        <a href="{{ path('admin_providers_new') }}">{% include 'components/button/default.html.twig' with { text: 'Nuevo proveedor' } %}</a>
        <form class="flex items-center gap-2">
            <input type="text" id="filter-text" name="filter" placeholder="Buscar..." 
                   class="px-4 py-2 border border-timber-green-500 rounded-lg focus:ring-timber-green-500 focus:border-timber-green-600" />
            <button type="submit" class="text-white bg-timber-green-600 hover:bg-timber-green-700 py-2 px-4 rounded">Buscar</button>
        </form>
    </div>
    <table class="min-w-full bg-white border rounded-lg shadow-lg overflow-hidden table-auto">
        <thead class="bg-pistachio-200 border-b border-lochinvar-100">
            <tr>
                <th class="px-6 py-4 text-left text-sm font-label text-center text-pancho-700">Nombre</th>
                <th class="px-6 py-4 text-left text-sm font-label text-center text-pancho-700">Categoria</th>
                <th class="px-6 py-4 text-left text-sm font-label text-center text-pancho-700">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% if providers is empty %}
            <tr><td colspan="4" class="text-center text-timber-green-200 font-label text-4xl p-6">Sin elementos...</td></tr>
        {% endif %}
        {% for p in providers %}
        <tr class="text-center border-b border-lochinvar-100 hover:bg-buttercup-200">
            <td class="px-6 py-4 font-body text-sm text-black">{{ p.name }}</td>
            <td class="px-6 py-4 font-body text-sm text-black">
                <span class="px-2 py-1 bg-timber-green-100 text-timber-green-900 rounded-md">{{ p.category.name }}</span>
            </td>
            <td class="px-6 py-4 font-body text-sm text-black flex gap-2 justify-center items-center">
                <a href="{{ path('admin_provider_edit', {id: p.id}) }}">
                {% include 'components/button/default.html.twig' with { text: 'Editar' } %}
                </a>
                <a href="{{ path('admin_provider_delete', {id: p.id}) }}">
                {% include 'components/button/danger.html.twig' with { text: 'Eliminar' } %}
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
     <div class="flex justify-between items-center mt-4">
        {% include 'components/pager.html.twig' with {
        previous: page > 1? { path: path('admin_forum', { page: page - 1 }) },
        current: page,
        pages: [
            { path: path('admin_forum', {page: page}), name: 'forum_' ~ page, label: page }
        ],
        next: providers|length > 20? { path: path('admin_forum', { page: page + 1 }) }
        } %}
    </div>   
</div>
{% endblock %}
