{% extends 'admin/base.html.twig' %}

{% block body %}
<div class="flex flex-col py-5 gap-3 m-8">
    <h1 class="font-heading text-6xl">Nuevo usuario</h1>
    {{ form_start(userForm) }}
        {{form_row(userForm.name)}}
        {{form_row(userForm.email)}}
        {{form_row(userForm.avatarImage)}}
        {{form_row(userForm.plainPassword)}}
        {% include 'components/button/default.html.twig' with {text: 'Crear'} %}
    {{ form_end(userForm) }}
</div>
{% endblock %}
