{# templates/form/form_theme.html.twig #}
{%- use 'form_div_layout.html.twig' -%}

{%- block form_start -%}
{%- do form.setMethodRendered() -%}
{% set method = method|upper %}
{%- if method in ["GET", "POST"] -%}
{% set form_method = method %}
{%- else -%}
{% set form_method = "POST" %}
{%- endif -%}
{% set attr = attr|merge({
class: class(attr.class is defined? attr.class)
.add('flex flex-col gap-2 items-center')
}) %}

<form {{ attrs({ name: name, method: form_method|lower, action: action, enctype: multipart? "multipart/form-data" }) }}
    {{ attrs(attr) }}>
    {%- if form_method != method -%}
    <input type="hidden" name="_method" value="{{ method }}" />
    {%- endif -%}
    {%- endblock form_start -%}

    {%- block form_errors -%}
    {%- if errors|length > 0 -%}
    <ul class="font-label m-0">
        {%- for error in errors -%}
        <li class="flex flex-row gap-2 items-center">
            <span>{{ error.message }}</span>
        </li>
        {%- endfor -%}
    </ul>
    {%- endif -%}
    {%- endblock form_errors -%}

    {%- block form_row -%}
    {% set attr = attr|merge({
    class: class(attr.class is defined? attr.class)
    .add('flex flex-col gap-3 items-center rounded')
    .add(errors is not empty? 'py-3 px-3')
    }) %}
    <div {{ attrs(attr) }}>
        {{- form_errors(form) -}}
        {{- form_widget(form, {
        attr: { placeholder: field_label(form) }
        }) -}}
    </div>
    {%- endblock -%}

    {%- block checkbox_row -%}
    {% set attr = attr|merge({
    class: class(attr.class is defined? attr.class)
    .add('flex flex-col gap-3 items-center rounded-2')
    .add(errors is not empty? 'field-bad py-3 px-3'),
    }) %}
    <div {{ attrs(attr) }}>
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
    </div>
    {%- endblock -%}

    {%- block checkbox_widget -%}
    {% set attr = attr|merge({
    class: class(attr.class is defined? attr.class)
    .add('flex flex-col gap-3 items-center rounded')
    .add(errors is not empty? 'py-3 px-3'),
    }) %}
    <label class="flex flex-row gap-1 items-c">
        <input type="checkbox" {{ attrs({ id: id, name: full_name, disabled: disabled is defined? disabled, value: value
            is defined? value, checked: checked is defined? checked : false, }) }} {{ attrs(attr) }} />
        <span class="font-label">{{- field_label(form) -}}</span>
    </label>
    {%- endblock -%}

    {%- block form_widget -%}
    {% if compound %}
    {{- block('form_widget_compound') -}}
    {% else %}
    {{- block('form_widget_simple') -}}
    {% endif %}
    {%- endblock form_widget -%}

    {%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    {%- if type == 'range' or type == 'color' -%}
    {# Attribute "required" is not supported #}
    {%- set required = false -%}
    {%- endif -%}
    {% set attr = attr|merge({
    class: class(attr.class is defined? attr.class)
    .add('flex flex-col gap-3 items-center rounded-full py-2 px-4 text-kumera-300 placeholder:text-kumera-300/50
    bg-kumera-900/75 font-label')
    .add(errors is not empty? 'py-3 px-3'),
    }) %}
    <input {{ attrs({ id: id, name: full_name, disabled: disabled is defined? disabled, value: value is defined? value,
        checked: checked is defined? checked : false, type: type, required: required, }) }} {{ attrs(attr) }} />
    {%- endblock form_widget_simple -%}


    {%- block form_label -%}
    {% if label is not same as(false) -%}
    {% if not compound -%}
    {% set label_attr = label_attr|merge({'for': id}) %}
    {%- endif -%}
    {% if required -%}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('font-label') ~ ' required')|trim}) %}
    {%- endif -%}
    <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith
        %}{% endif %}>
        {{- block('form_label_content') -}}
    </{{ element|default('label') }}>
    {%- endif -%}
    {%- endblock form_label -%}
